@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*{
    font-family: "Open Sans";
}
.form-control:focus {
    box-shadow: 0 0 0px;
}

.form-control {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}




.grey-bg{
    background-color: #f3f3f4;
}

.btn-primary{
    color: #ffffff;
}

.btn-red{
    background-color: #ff616f;
    border-color: #ff616f;
    color: #ffffff;
}

.btn-red:hover{
    background-color: #da5361;
    border-color: #da5361;
}
.btn-primary:hover{
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

body{
    font-size: 13px;
}

.loginscreen.middle-box {
    width: 300px;
    margin-left: -150px;
    /* margin-top: -330px;*/
}
.middle-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 100;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}

.m-t {
    margin-top: 15px;
    margin-bottom: 0px;
}