@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-size: 100%;
    font-family: Roboto;
}

.wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.last-row-padding{
    margin: 20px;
}